*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    height: 100vh;
    background: #212529;
}

.navbar,.contact-hdr{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 80px;
    padding:0 50px;
}

.navbar h2,.contact-hdr H2{
    color:#ffb742;
    font-weight: 600;
}

.navbar ul,.contact-hdr ul{
    display:flex;
}

.navbar ul li,.contact-hdr ul li{
    list-style:none;
}

.navbar ul li a,.contact-hdr ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar ul li a:hover{
    color:#ffb742;
}

.hire-btn,.contact-main .submit-btn{
    background:#ffb742;
    padding: 6px 30px;
    border:none;
    font-size:16px;
    cursor:pointer;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.hire-btn:hover{
    background:#fb8c00
    
}

.main{
    height:640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size:32px;
    color:#fff;
    font-weight: 600;
}

.main h4 span{
    color:#ffb742;
    text-decoration:underline;
}

.title{
    font-size: 34px;
    color:#fff;
    font-weight: 600;
    text-align: center;
    margin-top: 8px;
}

.subtitle{
    font-size: 16px;
    color:#ccc;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.main-section2{
    margin-top:50px;
    padding:0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap:24px;
}

.main-section2 .item{
    background:#292b2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    width:100%;
    border-radius:10px;
    padding: 0 30px;
    border:1px solid transparent;;
    cursor:pointer;
    transition: all 0.5s ease;
}

.main-section2 .item:hover{
    border-color:#ffb742;
}

.main-section2 .item .icon{
    width: 42px;
    height:46px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    transition:all 0.3s ease
    }
.main-section2 .item:hover .icon{
    background-color: #ffb742;
}

.main-section2 .item .info{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.main-section2 .item .info h3{
   color:#ffb742;
   font-size: 22px;
  }

  .main-section2 .item .info p{
    color:#fff;
    font-size: 13px;
    font-weight: 600;
   }

.main-section2 .item > i{
    color:fff;
    font-size:30px;
    transition: color 0.3s ease;
}
.main-section2 .item > i:hover{
    color:#ffb742;
}
   
  .separator{
    margin:50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255,255,255,0.08);
    display: inline-block;
    color:#ffb742;
    border-radius:12px;
  }
  .about{
    display: flex;
   justify-content: space-between;
   align-items: center;
    gap: 80px;
    padding: 0 50px;
  }

  .about img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
  }

  .about .info h3{
    color:white;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .about .info p{
    color:#ccc;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .about .info button{
    margin-top:30px;
  }

  .skills{
    display: flex;
    justify-content: space-between;
    padding:0 50px;
  }

  .skills .left{
    width:680px;
  }

  .skills .left .info h3{
    color:#fff;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .skills .left .info p{
    color:#fff;
    font-size: 14px;
  }

  .skills .left button{
    margin-top: 30px;
  }
.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap:12px;
}

.skills .right .item{
    background:#383e45;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.skills .right .item i{
    color:#fff;
    font-size: 24px;
}

footer{
  position: relative;
  background:#1c1c1c;
  padding:80px 50px 40px;
  margin-top: 100px;
}

footer .start{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffb742;
  padding:30px 20px;
  border-radius: 15px;
  width: 70%;
  margin: -129px 28px 40px 241px;
}
footer .start p{
  font-size: 13px;
  width:35%;
}
footer .start button{
  background:transparent;
  border-color: 1px solid #000;
  cursor:pointer;
  padding:8px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
footer .start button:hover{
  background-color: #fff;
  border-color: #fff;
}
footer .col{
  display: flex;
  align-items:start;
}

footer .col .about-col{
  flex:3;
}
footer .col .about-col h3{
  color: #ffb742;
  margin-bottom: 20px;
}

footer .col .about-col p{
  color:#ccc;
  font-size: 14px;
}

footer .col .links-col{
  flex:3;
}

footer .col .links-col h4, footer .col .news-col h4{
  color: #fff;
  margin-bottom: 20px;
}

footer .col .links-col a{
  display: block;
  text-decoration: none;
 color:#7b7b7b; 
 font-size: 14px;
 line-height: 26px;
 transition: color 0.3s ease;
}

footer .col .links-col a:hover{
  color:#ffb742;
}

footer .col .news-col{
  flex:3;
}

footer .col .news-col p{
  color:#7b7b7b;
  font-size: 15px;
}

footer .col .news-col form{
  width: 100%;
  margin-top: 20px;
  position: relative;
}

footer .col .news-col form input{
  width: 100%;
  background:#212529;
  padding: 13px;
  border:none;
  border-radius: 100px;
  font-style: 13px;
}

footer .col .news-col form button{
  display: flex;
  align-items: center;
  justify-self: center;
  width: 45px;
  height: 45px;
  background:#ffb742;
  border:none;
  border-radius:50%;
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer .col .news-col form button:hover{
  background-color: #fb8c00;
}

footer .col .news-col form button i{
  font-size:26px;
}

@media screen and (max-width:1100px){
  .main-section2{
    flex-wrap:wrap;
    gap:10px;
  }
  .main-section2 .item{
   flex-basis: 40%;
  }
  .skills{
    justify-content: space-between;
    gap:20px;
  }
  .skills .left{
    width:500px;
  }
  footer{
    margin-top:150px;
  }

  footer .start{
    width:90%;
    margin: -125px 0px 52px 42px;
  }
  footer .col{
    flex-wrap:wrap;
  }
  footer .col .about-col{
    flex-basis: 50%;
  }
  footer .col .links-col{
    flex-basis: 50%;
  }
  footer .col .news-col{
    flex-basis: 100%;
    margin-top: 20px;
  }
}

.contact-hdr{
  background-color:#ffb742 ;
  height: 20%;
  width: 100%;
}

.contact-hdr h2{
  color: #000;
}

.contact-hdr ul{
  margin-right:190px;
}

.contact-hdr ul li a{
  color:#000;
}

.contact-hdr ul li a:hover{
  color: whitesmoke;
}

/* .contact-main{
  background-color:#ffb742;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10%; 
  margin-top: -341px;
  margin-left: 57%;
  width: 400px;
}

.contact-main h1{
  font-weight: 20;
}
.contact-main form{
  display: flex;
  flex-direction: column;
}
.contact-main .submit-btn{
  background-color: #000;
  color:#ffb742;
}

.contact-main .submit-btn:hover{
  color:#fb8c00;
}

.contact-main form input{
  border-radius: 50px;
  padding: 10px;
}

.contact-ftr{
    justify-content: center;
    font-weight: 200;
    margin-top: 80px;
}

.contact-ftr-cnt{
  margin-left:580px;
}

.contact-ftr a{
 text-decoration: none;
 font-size: 25px;
 color:#7b7b7b; 
 line-height: 26px;
 transition: color 0.3s ease;
}



.contact-ftr a:hover{
  color:#ffb742;
} */

.contact-p p{
  color: #fb8c00;
  font-size:80px;
  font-weight: 300;
  font-family:Arial, Helvetica, sans-serif;
  
}
.contact-p{
  margin-top:250px;
  margin-left:95px;
  height: 193px;
  width: 527px;
}

.contact-main{
  background-color:#ffb742 ;
  width:fit-content ;
  margin-left: 850px;
  margin-top: -200px;
  display: flex;
  flex-direction: column !important;
  gap: 30px;
  border-radius: 20px;
  box-shadow: #fb8c00;
  padding: 15px;
}

.contact-main h4{
  margin-left: 25px;  
  margin-right: 25px;
}

.contact-main ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.contact-main ul li a{
  color:#000;
}
.cer-main h1{
  color: #fb8c00;
  text-align: center;
  margin-bottom: 30px;
}
.cer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cer img {
  margin: 0 auto;
  size:500px;
}
.cer h2{
  color: #ffb742;
  text-align: center;
}